[D-BUS Service]
Name=org.mate.panel.applet.{{ cookiecutter.project_name }}
Exec=/usr/share/mate-applets/{{ cookiecutter.project_slug }}/{{ cookiecutter.project_name }}.py
